<mat-toolbar color="primary" class="mat-elevation-z2">
  <span class="brand">BookWithMe</span>
  <form class="form-group" fxLayout="row" fxLayout.xs="column" fxFlex.gt-sm="20%">
    <mat-form-field> <input matInput /> </mat-form-field>
  </form>
  <span class="spicer"></span>
  <div class="navbar-header">
    <button mat-button>value</button> <button mat-button>value</button> <button mat-button>value</button>
    <button mat-button>value</button> <button mat-button>value</button>
  </div>
</mat-toolbar>
