html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.spicer {
  flex: 1 1 auto;
}
.brand {
  margin-right: 10px;
}
.form-group {
  width: 100%;
  .mat-form-field {
    width: 100%;
  }
}
